@charset "UTF-8";
@media (max-width: 64em) {
  .d-none {
    display: none;
  }

  .d-block {
    display: block;
  }

  #main {
    padding-top: 0;
  }

  .navbar-mb {
    padding: 0.8rem 1.25rem;
    background-color: #284fa7;
  }

  .navbar-mb-logo {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .navbar-mb-logo img {
    width: auto;
    height: 35px;
  }

  .main {
    margin-top: 0;
  }

  .row-one-large__content {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  .row-one-large__heading {
    font-size: 1.25rem;
  }

  .row-one-large__trending a {
    margin-bottom: 0.5rem;
    display: inline-block;
  }

  .row-one-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.625rem;
    padding: 1.25rem 0.75rem;
  }

  .row-one-thumb {
    padding-top: 0;
  }

  .row-one-thumb .row-one-thumb__content {
    border-bottom: none;
  }

  .row-one-thumb__heading {
    font-size: 1rem;
  }

  .row-one-thumb__public {
    padding-top: 0.625rem;
  }

  .main-left-row-two {
    margin-top: 0;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .row-two-item {
    flex-direction: row;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .row-two-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .row-two-item__img,
.row-three__left-img {
    flex-shrink: 0;
    width: 35%;
  }

  .row-two-item__content {
    flex: 1;
    padding-left: 0.9375rem;
    padding-top: 0;
  }

  .main-left-row-one,
.main-left-row-two,
.main-left-row-three,
.footer-top,
.main,
.main-top,
.box-one,
.box-two,
.main-left-row-three-container {
    display: block;
    grid-template-columns: 1fr;
  }

  .row-two-item__public,
.row-three__left-public,
.header-block__item,
.top-new__large--des {
    display: none;
  }

  .header-block__item:first-child {
    display: block;
    line-height: 1;
  }

  .main-left-row-three {
    margin-top: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    order: 2;
  }

  .row-two-item__heading,
.row-three__left-heading {
    font-size: 0.9375rem;
  }

  .row-three__left-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
  }

  .row-three__left-item {
    padding: 1rem 0;
  }

  .footer-top__right {
    text-align: left;
  }

  .footer-top__right-link + .footer-top__right-link {
    margin-right: 0.625rem;
    margin-left: 0;
  }

  .footer-top__right-link {
    margin-bottom: 0.625rem;
  }

  .footer-top__right {
    margin-top: 0.75rem;
  }

  .navigation-bar-item + .navigation-bar-item {
    margin-left: 0;
  }

  .nav-header__logo {
    height: 22px;
  }

  .nav-header__left {
    display: flex;
    align-items: center;
  }

  .nav-related {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem 0.9375rem;
  }

  .nav-related-link {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.375rem 0.75rem;
  }

  .nav-related-link + .nav-related-link {
    margin-left: 0.5rem;
  }

  .navigation-bar {
    padding: 0.75rem 0;
  }

  .navigation-bar-list--mb {
    max-width: 600px;
  }

  .navigation-bar-list--mb .slick-slide + .slick-slide {
    margin-left: 1.25rem;
  }

  .navigation-bar-list--mb .slick-next {
    right: 0;
    background: linear-gradient(to right, #fff0, #00000085);
    width: 3.375rem;
    height: 2.75rem;
  }

  .navigation-bar-list--mb .slick-prev {
    opacity: 0;
  }

  .navigation-bar-list--mb .slick-next:before {
    content: "⇢";
    opacity: 1;
    font-size: 1.5rem;
    line-height: 0.5;
  }

  .footer-social__item:nth-child(2) {
    margin-left: 0;
  }

  .footer-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.875rem 0.5rem;
  }

  .footer-logo-mb__logo {
    height: 50px;
  }

  .footer-top {
    padding: 1.5rem 0.75rem 4rem;
  }

  /*------------------------*/
  .nav-header-wrapper {
    padding: 0.9375rem;
  }

  .navigation-bar-wrapper {
    background: #284fa7;
  }

  .main-top {
    margin-top: 0;
  }

  .main-left {
    padding-right: 0;
    border-right: none;
  }

  .main-left-two,
.main-secondary {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    border-top: none;
  }

  .main-secondary {
    grid-gap: 0;
  }

  .main-two-right {
    order: 1;
    padding: 0 0.75rem;
  }

  .main-two-left {
    order: 2;
    padding: 0.75rem;
  }

  .main-left-row-one {
    padding-bottom: 0;
  }

  .main-two-right-articles-top {
    grid-gap: 0.625rem;
  }

  .main-two-right-articles-bottom-heading {
    font-size: 0.9375rem;
  }

  .main-two-right-articles-bottom-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .header-block__link.active.fix-size {
    font-size: 1.5rem;
  }

  .header-block__link.active.fix-size.fix-upper {
    text-transform: uppercase;
  }

  .latest-news__item {
    display: flex;
    width: 100%;
    padding: 1rem 0;
    border-top: 1px solid #e5e5e5;
  }

  .latest-news__item:first-child {
    border-top: none;
  }

  .latest-news__img {
    width: 35%;
    flex-shrink: 0;
  }

  .latest-news__content {
    flex: 1;
    padding-left: 0.9375rem;
  }

  .main-secondary .main-right {
    order: 1;
  }

  .main-secondary .main-left {
    order: 2;
    display: flex;
    flex-direction: column;
  }

  .most-read {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .mutimedia {
    background: #152764;
  }

  .mutimedia .header-block,
.box-news .header-block {
    margin: 0.5rem 0.75rem;
  }

  .mutimedia .header-block__link.active {
    color: #fff;
  }

  .mutimedia .header-block__link.active::before {
    background: #03A9F4;
  }

  .mutimedia .header-block {
    border-bottom: 1px solid #03a9f4;
  }

  .mutimedia-player__icon {
    width: 60px;
    height: 60px;
    font-size: 28px;
  }

  .mutimedia-item {
    padding-left: 0.75rem;
    padding-right: 1rem;
  }

  .mutimedia-item__heading {
    font-size: 15px;
  }

  .mutimedia-item__img {
    width: 35%;
  }

  .mutimedia-list {
    max-height: 280px;
  }

  .main-secondary .main-left .main-left-row-three {
    padding: 0;
  }

  .main-secondary .main-left .main-left-row-three .header-block {
    margin: 0.75rem;
  }

  .main-secondary .main-left .main-left-row-three .main-left-row-three-thumb__content,
.box-one--left__content {
    padding: 0.75rem;
  }

  .main-secondary .main-left .main-left-row-three .main-left-row-three-thumb__heading,
.box-one--left__heading {
    font-size: 1.25rem;
  }

  .main-secondary .main-left .main-left-row-three .main-left-row-three-thumb.small,
.box-one--center {
    display: flex;
    width: 100%;
    padding: 1rem 0.75rem;
    border-top: 1px solid #e5e5e5;
  }

  .main-secondary .main-left .main-left-row-three .main-left-row-three-thumb.small .main-left-row-three-thumb__img,
.box-one--center__img,
.box-one--right__img {
    flex-shrink: 0;
    width: 35%;
  }

  .main-secondary .main-left .main-left-row-three .main-left-row-three-thumb.small .main-left-row-three-thumb__content,
.box-one--center__content {
    flex: 1;
    padding: 0 0 0 0.75rem;
  }

  .main-secondary .main-left .main-left-row-three .main-left-row-three-thumb.small .main-left-row-three-thumb__heading,
.box-one--center__heading,
.box-one--right__heading {
    font-size: 0.9375rem;
  }

  .main-secondary .main-left .main-left-row-three .main-left-row-three-thumb.small .main-left-row-three-thumb__des,
.box-one--center__des {
    display: none;
  }

  .box-one--right {
    padding: 0 0.75rem;
  }

  .box-one--right__img .thumb-5x3 {
    padding-bottom: 60%;
  }

  .box-one--right__content {
    padding-left: 0.75rem;
  }

  .box-one--right__public {
    display: none;
  }

  .box-one--right__item:first-child {
    padding-top: 1rem;
    border-top: 1px solid #e5e5e5;
  }

  .box-one--right__item {
    padding: 1rem 0;
  }

  .box-two {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }

  .box-two .box-one--center {
    display: block;
    padding: 0;
  }

  .box-two--left {
    display: none;
    order: 3;
  }

  .receive-email {
    margin-left: inherit;
  }

  /*============================================================================     cate*/
  .cate-row-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.625rem;
    padding: 0 0.75rem;
  }

  .cate-row-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .detail-title {
    padding-top: 1.25rem;
  }

  .detail-content {
    padding-left: 0;
  }

  .detail-content,
.detail-icon-share-line,
.detail-tags__pc,
.read-more-detail {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .related-news-detail .header-block {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .related-news-detail-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 0.625rem;
  }

  .related-news-detail-content .row-two-item {
    display: block;
  }

  .related-news-detail-content .row-two-item .row-two-item__img {
    width: 100%;
  }

  .related-news-detail-content .row-two-item .row-two-item__content {
    padding-left: 0;
  }

  .related-news-detail-content .row-two-item .row-two-item__heading {
    font-size: 1rem;
    margin-top: 0.625rem;
  }

  .related-news-detail-content .row-two-item {
    border-bottom: none;
    padding-bottom: 0;
  }

  .video-one {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25rem 0.625rem;
    margin-top: 0;
  }

  .video-one__large {
    grid-column: 1/3;
    grid-row: unset;
  }

  .video-one__thumb:nth-child(odd) {
    padding-right: 0.75rem;
  }

  .video-one__thumb:nth-child(even) {
    padding-left: 0.75rem;
  }

  .play-mutimedia.small .mutimedia-player__icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  .video-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.25rem 0.625rem;
    padding-left: 12px;
    padding-right: 12px;
  }

  .video-one__heading,
.video-two__heading {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=responsive.css.map */
